<div class='transcription'>
  <h3>Diplomatic transcription</h3>
  <p>01	Ynehuatl notuca LL Thomas pascual mᵒ ytic njcān</p>
  <p>02	chinamitl sᵗ zhoan bauhtista altepeuh yscux</p>
  <p>03	ascan ypan 6 tunali yc ti [m…]etzli de mazo</p>
  <p>04	E nic cupini y jamauh notla copiltzin –</p>
  <p>05	ffraʷ phelipe chani sᵗ miguel acatan</p>
  <p>06	i[…]o haquino qui quistiliz ytechcopa</p>
  <p>07	q o ti cio yquā asperzes [...] año 1622 y</p>
  <p>08	Nech maᶜᵃnauitl 		A thomas pas	</p>
  <p>09					                    cual mᵒ           A</p>
</div>
<div class='transcription'>
  <h3>Standarized transcription</h3>
  
  <p>01	In nehuatl notoca LL Tomás Pascual moitic nican</p>
  <p>02	chinamitl San Juan Bautista altepeuh iscox</p>
  <p>03	ascan ipan 6 tonalli ic ti meztli de marzo</p>
  <p>04	e nic cupini y jamauh notla copiltzin</p>
  <p>05	fray Felipe chani San Miguel Acatan</p>
  <p>06	i[..]o haquino quiquistiliz itechcopa</p>
  <p>07	q oticihua icuan asperzes [...] año 1622 i</p>
  <p>08	nechmacanahuitl		Tomás Pas	</p>
  <p>09				                	cual mo</p>
</div>
<div class='transcription'>
  <h3>Translation</h3>
  <p>01	Mi nombre es LL Tomás Pascual acá dentro de la</p>
  <p>02	chinampa San Juan Bautista pueblo de iscox</p>
  <p>03	Hoy día 6 del mes de marzo</p>
  <p>04	copio el documento de mi querido hijo</p>
  <p>05	fray Felipe que vive en San Miguel Acatlan</p>
  <p>06	i[..]o quien le quitará </p>
  <p>07	q  “lo haces” con asperzes [...] año 1622 i</p>
  <p>08	me da cuatro tomines	Tomás Pas	</p>
  <p>09					               que estés bien</p>
</div>
