<h2>Translation</h2>

<p>07	compra una cerca</p>
<p>08	la cerca de diez flores</p>
<p>09	su río</p>
<p>10	la cerca de · pablo · xochimilca </p>
<p>11	xx · xx · brazos</p>
<p>12	“de largo” · cccc · cccc</p>

<p>13	Esta es la tierra que vendió don Juan Marmolejo</p>
<p>14	a Miguel García indio en el pago de San(ta Ce)ci </p>
<p>15	lia Cocamala</p>

<p>16	ante ustedes</p>
<p>17	me _______________</p>
<p>18	n	lozecan “punta”_______</p>
<p>19	n	Melchor es quien convoca </p>
<p>20	n	lozczo · cinco</p>
<p>21	n	qznanto · cuomitz </p>

