<h2>Standarized transcription</h2>

<p>01	Sesenta pesos por quitar dudas, si trajere dichos recaudos por donde conste ser suyo, que se otorgue escritura, y </p>
<p>02	se los den: y de no constar el claramente que es dueño de dicha tierra, que le vuelvan estos papeles. asiéntolo aquí</p>
<p>03	y pongo esta razón, por si me muriese, y lo firmo de mi nombre</p>
<p>04	Este título le entregué a Mathias Camargo hijo, y albacea del dicho 	Diego Pelaes</p>
<p>05	Diego Muños de Jaso y Camargo hoy catorce del mes de junio de mil seis cientos y noventa y cuatro</p>
<p>06	años —---------------------------------- Diego Pelaes</p>


<p>07	cohuatenpaco</p>
<p>08	intepaco · matlacxochitl</p>
<p>09	yatoyatl</p>
<p>10	intepaco · pablo · xochimilcatzin</p>
<p>11	xx · xx · maitl</p>
<p>12	in nic izyac · cccc · cccc</p>

<p>13	Esta es la tierra que vendió don Juan Marmolejo</p>
<p>14	a Miguel García indio en el pago de San(ta Ce)ci </p>
<p>15	lia Cocamala</p>

<p>16	in nimixpantasticos</p>
<p>17	me _______________</p>
<p>18	n	lozecan yactzin_______</p>
<p>19	n	melchiyotl · tencuitlaonlolo</p>
<p>20	n	lozczo · macuilqu[...]uh</p>
<p>21	n	qznanto · cuomitz </p>


