<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>El Avemaría (línea 01-16)</p>

  <p>Alégrese, oh Santa María; llena estás de mucha gracia; el señor nuestro Dios a tu lado está; eres muy alabada entre todas las mujeres; y es muy alabado el fruto de tu vientre, Jesus. Oh Santa Maria madre de Dios.</p>
  
<h3>English Translation</h3>
  <p>Hail Mary</p>
  <p>Be happy,</p>
  <p>Oh Hail Mary,</p>
  <p>Full of Grace you are,</p>
  <p>The Lord our God is next to you.</p>
  <p>Blessed art thou among women,</p>
  <p>and blessed is the fruit</p>
  <p>of thy womb, Jesus.</p>

  <p>Oh Holy Mary,</p>
  <p>Mother of God.</p>
</div>  
