<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Los artículos de la fe (líneas 02-15; 016; 01-17; 01-17; 01-16)</p>

  <p>Las creencias 	de nuestro señor Jesucristo son catorce, los primeros siete pertenecen a nuestro Señor Jesucristo Dios y los otros siete corresponden a nuestro Señor Jesucristo como humano. </p>

  <p>Acá están los siete primeras que dicen:</p>
  <p>El primero, creer que hay un solo Dios que todo lo puede.</p>
  <p>El segundo, creer que Dios es padre.</p>
  <p>El tercero, creer en Dios hijo.</p>
  <p>El cuarto, creer en Dios Espíritu Santo.</p>
  <p>El quinto, creer que es el creador de humanos.</p>
  <p>El sexto, creer que es el salvador.</p>
  <p>El séptimo creer que es glorificador.</p>

  <h3>English Translation</h3>
  <p>The articles of faith </p>

  <p>The beliefs of our Lord Jesus Christ are fourteen, the first seven belong to our Lord Jesus Christ God, and the other seven correspond to our Lord Jesus Christ as a human.</p>

  <p>Here are the first seven that say:</p>
  <p>The first one, believe that there is only one God who can do everything.</p>
  <p>The second one, believe that God is the father.</p>
  <p>The third one, believe in the son of God.</p>
  <p>The fourth one, believe in God the Holy Spirit.</p>
  <p>The fifth one, believe that he is the creator of humans.</p>
  <p>The sixth one, believe that he is the savior.</p>
  <p>The seventh one,  believe that he is glorifying.</p>
</div>
