<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Credo (01-04)</p>
  <p>Nota: esta sección es parte del final del Credo.</p>

  <p>Se llevará a cabo la resurrección de nuestros cuerpos. También creo que existe la vida eterna. Que así sea, oh Jesús.</p>

  <p>I believe in the resurrection of the body,</p>
  <p>and life everlasting.</p>
  <p>Los mandamientos de la ley de Dios (línea 05-15; 01-16; 01-08)</p>

  <p>Los mandamientos de nuestro señor Dios son diez: </p>
  <p>Los primeros tres corresponden a la gloria de nuestro señor Dios y los otros siete corresponden al socorro de nuestros hermanos.</p>
  <p>El primero es, amarás a Dios nuestro señor sobre todas las cosas creadas.</p>
  <p>El segundo es, no harás falsas promesas con el santo nombre de Dios.</p>
  <p>El tercero es, en adoración tendrás el día de guardar.</p>
  <p>El cuarto es, honrarás y respetarás a tu padre y madre.</p>
  <p>El quinto es, nadie morirá por tu mano.</p>
  <p>El sexto es, no andarás en la lujuria.</p>
  <p>El séptimo, es no robarás.</p>
  <p>El octavo es, no levantarás falsos ni mentirás.</p>
  <p>El noveno es, no codiciarás lo ajeno.</p>
  <p>El décimo mandamiento es. Sin duda y verdaderamente para llevar a cabo y amar a Nuestro señor Dios por sobre todas las cosas creadas, amar a nuestros prójimos como nos amamos a nosotros.</p>
  <p>Que así sea, oh Jesús.</p>


<h3>English Translation</h3>
  <p>The commandments</p>

  <p>The commandments of our Lord God are ten:</p>
  <p>The first three correspond to the glory of our Lord God and the other seven correspond to the help of our brothers.</p>

  <p>The first one is, you will love God our Lord above all created things.</p>
  <p>The second one is, you will not make false promises in the holy name of God.</p>
  <p>The third one is, in worship you will have the day of observance.</p>
  <p>The fourth one is, you will honor and respect your father and mother.</p>
  <p>The fifth one is, no one will die by your hand.</p>
  <p>The sixth one is, you shall not be in lust.</p>
  <p>The seventh one is, you shall not steal.</p>
  <p>The eighth one is, you shall not raise falsehoods nor lies.</p>
  <p>The ninth one is, you will not covet what belongs to others.</p>
  <p>The tenth commandment is. Without a doubt and truly to carry out and love Our Lord God above all created things, love our neighbors as we love ourselves.</p>
  <p>So be it, oh Jesus.</p>
</div>
