<div class='transcription'>
<h3>English Translation</h3>
  <p>Our Father</p>

  <p>Oh Our Father,</p>
  <p>Who art in heaven,</p>
  <p>Hallowed be Thy Name.</p>

  <p>Thy Kingdom come.</p>
  <p>Thy Will be done,</p>
  <p>on earth as it is in Heaven.</p>

  <p>Give us this day our daily tortilla that is necessary for us.</p>
  <p>And forgive us our trespasses,</p>
  <p>as you forgive those who trespass against us.</p>
  <p>And lead us not into temptation,</p>
  <p>but deliver us from evil.</p>
  <p>So be it, oh Jesus.</p>
</div>  

