<div class='transcription'>

<h3>Spanish Translation</h3>
  <p>El Credo (línea 01-16, 01-17)</p>

  <p>Creo en Dios padre todopoderoso, quien creó e hizo el cielo y la tierra. También creo en Jesucristo, hijo único de Dios, y señor nuestro; quien encarnó con el milagro del Espíritu Santo de Dios, nació de la siempre virgen Santa María; sufrió bajo el mando de Poncio 	Pilatos, fue crucificado en la cruz, murió y fue sepultado:</p>
<h3>English Translation</h3>
  <p>Apostles Creed</p>
  <p>I believe in God, the Father almighty,</p>
  <p>Who made and creates the heaven and earth;</p>
  <p>and in Jesus Christ, only Son of God, Our Lord,</p>
  <p>Who was incarnadined by the Holy Spirit,</p>
  <p>born of the Virgin Saint Mary,</p>
  <p>suffered under Pontius Pilate,</p>
  <p>was crucified, died, and was buried:</p>
</div> 
