<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Los mandamientos de la Santa madre Iglesia (línea 09-15; 01-16)</p>
  <p>Los mandamientos de nuestra madre Santa iglesia son cinco:</p>
  <p>El primero es, escucharas misa entera, todos los domingos y los días de guardar.</p>
  <p>El segundo es, comulgarás aunque sea una vez por año en tiempo de merecimiento, cuando te enfermes y empeores o cuando comulgues.</p>
  <p>El tercero es, comulgarás en pascua florida.</p>
  <p>El cuarto es, ayunarás cuando ordene nuestra Santa Iglesia.</p>
  <p>El quinto es, ofrecerás lo décimo del diezmo y primicias a la Santa Iglesia. </p>
  <p>Que así sea, oh Jesús.</p>

   <h3>English Translation</h3>
  <p>The commandments of the Holy Mother Church</p>
  <p>The commandments of our mother Holy Church are five:</p>
  <p>The first one is, you will hear the entire mass, every Sunday and holy days.</p>
  <p>The second one is, you will take communion even once a year in time of merit, when you get sick and get worse or when you take communion.</p>
  <p>The third one is, you will take communion on Easter.</p>
  <p>The fourth one is, you will fast when our Holy Church ordains.</p>
  <p>The fifth one is, you will offer the tenth of the tithe and firstfruits to the Holy Church.</p>
  <p>So be it, oh Jesus.</p>
</div>
