<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Los Sacramentos (línea 01-16)</p>
  <p>Los purificadores sacramentos son siete:</p>
  <p>El primero es el bautismo.</p>
  <p>El segundo es el fortalecimiento.</p>
  <p>El tercero es el merecimiento.</p>
  <p>El cuarto es la comulgación</p>
  <p>El quinto es la persignación</p>
  <p>El sexto es la 	ordenación sacramental</p>
  <p>El séptimo es el matrimonio.</p>

  <h3>English Translation</h3>
  <p>The Sacraments </p>
  <p>The purifying sacraments are seven:</p>
  <p>The first one is baptism.</p>
  <p>The second one is strengthening.</p>
  <p>The third one is desert.</p>
  <p>The fourth one is communion</p>
  <p>The fifth one is the cross</p>
  <p>The sixth one is sacramental ordination</p>
  <p>The seventh one is marriage.</p>
  <p>	</p>
</div>
