<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Salve regina (01-17)</p>
  <p>con “suspiros” y lágrimas en este valle de lágrimas, ¡Oh reina  que sobre nosotros riges, a nosotros vuelve tus misericordiosos  ojos, y 	después de este destierro muéstranos a Jesús. Bendito el fruto de tu vientre ¡Oh misericordiosa!, ¡Oh humana! ¡Oh dulce virgen Santa Maria!;  llámanos hacia tí, Madre de Dios para merecer la promesa de nuestro señor Jesucristo. </p>
  <p>Que así sea, oh Jesús.</p>
  
<h3>English Translation</h3>
  <p>Hail Holy Queen</p>

  <p>with “sighs” and tears in this valley of tears, Oh queen who rules over us, turn your merciful eyes to us, and after this banishment show us Jesus. Blessed is the fruit of your womb, Oh merciful! Oh human! Oh sweet virgin Santa Maria!; Call us to you, Mother of God to merit the promise of our Lord Jesus Christ.</p>
  <p>So be it, oh Jesus.</p>
</div>
