<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>El bendito (11-16; 01-15; 01-05)</p>
  <p>Muy alabado sea el muy santísimo y magnífico Sacramento: dentro y perfecto está    	nuestro señor Jesucristo muy verdadero Dios y hombre verdadero. Y alabada sea su Santa e Inmaculada Concepción de la siempre virgen reina Santa María bendita madre de Dios, y señora nuestra. “Que en ella nunca hubo pecado mortal”.</p>
  <p>Así sea.</p>
  <p>Nota: El bendito, me costó mucho su traducción, y me gustaría que alguien más revisara el texto original en náhuatl.</p>

  <h3>English Translation</h3>  
  <p>The blessed one</p>
  <p>Highly praised be the most holy and magnificent Sacrament: within and perfect is our Lord Jesus Christ, very true God and true man. And praise be to her Holy and Immaculate Conception of the ever virgin queen, Holy Mary, blessed mother of God, and our lady. “That there was never mortal sin in her.”</p>
  <p>Note: The blessed one, it cost me a lot to translate it, and I would like someone else to review the original text in Nahuatl.</p>
</div>
