<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Acto de contricción (01-15; 01-11)</p>
  <p>Oh Dios mío, salvador mío, oh Jesucristo Dios verdadero y hombre verdadero, eres mi creador y salvador amoroso mío. Eres realmente digno, eres realmente amoroso, te amo por sobre todas las cosas hechas con todo el corazón. Me aflijo por haberte ofendido, y porque te prometí ya no pecar, y confesarme cuando me sea mandado y obrar mal con todos mis hechos y “por la paga de mis pecados”: tengo esperanza en ti que perdonarás mis pecados por tu amorosa y gloriosa sangre: y me darás bondad para ya no volver a pecar.</p>
  <p>Que así sea.</p>

  <h3>English Translation</h3>  
  <p>Act of contrition </p>
  <p>Oh my God, my savior, oh Jesus Christ true God and true man, you are my creator and my loving savior. You are truly worthy, you are truly loving, I love you above all things done with all my heart. I grieve for having offended you, and because I promised you no longer to sin, and to confess when I am commanded and to do evil with all my deeds and “for the wages of my sins”: I have hope in you that you will forgive my sins for your loving and glorious blood: and you will give me kindness so that I will no longer sin.</p>
  <p>So be it.</p>
</div>
