<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Las obras de misericordia (línea 01-15; 01-15; 01-12;01 16; 01-05)</p>
  <p>Las obras de misericordia son catorce, los primeros siete pertenecen a la misericordia del 	cuerpo, y los otros siete pertenecen a la misericordia de nuestra anima. Los primeros siete  son los siguientes:</p>
  <p>El primero, saludar al 	pobre enfermo.</p>
  <p>El segundo, alimentar a los hambrientos. </p>
  <p>El tercero, dar a beber al que anda sediento.</p>
  <p>El cuarto, vestir al que anda desnudo</p>
  <p>El quinto, hospedar al hombre caminante.</p>
  <p>El sexto, salvar de la cárcel al que de ella se asoma.</p>
  <p>El séptimo, enterrar a los muertos.</p>

  <p>Y los otros siete son los siguientes:</p>
  <p>El primero, enseñar al que no sabe.</p>
  <p>El segundo, cortarás bien la palabra 	al que lo requiera.</p>
  <p>El tercero, le harás ver al que anda perdido.</p>
  <p>El cuarto, perdonarás a los que te ofenden.</p>
  <p>El quinto, consolar al que anda triste. </p>
  <p>El sexto, soportar con paciencia la confusión de los prójimos.</p>
  <p>El séptimo, rogar a Dios por los vivos y por los muertos.</p>

  <h3>English Translation</h3>
  <p>The works of mercy </p>
  <p>The works of mercy are fourteen, the first seven belong to the mercy of the body, and the other seven belong to the mercy of our soul. The first seven are the following:</p>
  <p>The first one, greet the poor sick person.</p>
  <p>The second one, feed the hungry.</p>
  <p>The third one, give drink to the thirsty.</p>
  <p>The fourth one, clothing the one who walks naked</p>
  <p>The fifth one, to host the walking man.</p>
  <p>The sixth one, to save from prison those who look out of it.</p>
  <p>The seventh one, bury the dead.</p>

  <p>And the other seven are the following:</p>
  <p>The first one, teach those who do not know.</p>
  <p>The second one, you will cut the word well for those who require it.</p>
  <p>The third one, you will make him see who is lost.</p>
  <p>The fourth one, you will forgive those who offend you.</p>
  <p>The fifth one, console the one who is sad.</p>
  <p>The sixth one, patiently endure the confusion of one's neighbors.</p>
  <p>The seventh one, pray to God for the living and the dead.</p>
</div>
