<div class='transcription'>
<h3>Spanish Translation</h3>
  <p>Los pecados mortales (línea 06-016; 01-15; 01-16; 01-17)</p>
  <p>Los pecados mortales son siete:</p>
  <p>El primero, la gran envidia.</p>
  <p>El segundo, la avaricia.</p>
  <p>El tercero, la lujuria.</p>
  <p>El cuarto, la ira.</p>
  <p>El quinto, la gula.</p>
  <p>El sexto, la envidia. </p>
  <p>El sétimo,  la pereza.</p>

  <p>Estas son las siete virtudes contrarias a aquellos siete pecados mortales:</p>
  <p>El primero es 	la humildad que es opuesta a la soberbia.</p>
  <p>El segundo es el desprendimiento contrario a la avaricia. </p>
  <p>El tercero es la castidad contraria a la lujuria.</p>
  <p>El cuarto es la paciencia contraria a la ira.</p>
  <p>El quinto es la templanza contraría a la gula.</p>
  <p>El sexto es el amor contrario a la envidia. </p>
  <p>El séptimo es el cuidado contrario a la pereza.</p>

  <h3>English Translation</h3>
  <p>Mortal sins </p>
  <p>There are seven mortal sins:</p>
  <p>The first one, great envy.</p>
  <p>The secondc one, greed.</p>
  <p>The third one, lust.</p>
  <p>The fourth one, anger.</p>
  <p>The fifth one, gluttony.</p>
  <p>The sixth one, envy.</p>
  <p>The seventh one, laziness.</p>

  <p>These are the seven virtues contrary to those seven mortal sins:</p>
  <p>The first one is humility, which is opposite to pride.</p>
  <p>The second one is the detachment, contrary to greed.</p>
  <p>The third one is chastity, contrary to lust.</p>
  <p>The fourth one is patience, contrary to anger.</p>
  <p>The fifth one is temperance as opposed to gluttony.</p>
  <p>The sixth one is love contrary, to envy.</p>
  <p>The seventh one is care, contrary to laziness.</p>
</div>
