<div class='transcription'>
<h3>Diplomatic transcription</h3>

  <p>01	Sesenta ps, por quitar dudas, si traxiere dhos recaudos por donde conste ser suyo, q s otorgue escriptura, y </p>
  <p>02	se los den: y deno constar el claramte que es dueño de dha tierra, que le buelvan estos papeles. asiento lo aqui</p>
  <p>03	y pongo esta razón, por si me muriese, y lo firmo de mi nombre</p>
  <p>04	Este título. le entregue a Mathias Camargo hijo, y Albacea del dho 	Diego Pelaes</p>
  <p>05	diego Muños de Jaso y camargo oi catorce del Mes de Junio de mill, seis cientos, y nobenta, y quatro</p>
  <p>06	Años —---------------------------------- Diego Pelaes</p>


  <p>07	cohuatēpaco</p>
  <p>08	yntepaco · matlacxochitl</p>
  <p>09	yatoyatl</p>
  <p>10	yntepaco · pabro · xochimilcatzin</p>
  <p>11	xx · xx · maytl</p>
  <p>12	yn nic yz yac · cccc · cccc</p>


  <p>13	Esta es la tierra que vendió don gno marmolejo</p>
  <p>14	a miguel garcia indio En el pago de san(ta ce)ci </p>
  <p>15	lia cocamala</p>

  <p>16	yn nimixpātasticos</p>
  <p>17	me _______________</p>
  <p>18	n	lozecā yactzin_______</p>
  <p>19	n	melchiyotl · tē cuj tlaōlolo</p>
  <p>20	n	lozcço · macuilqu[...]uh</p>
  <p>21	n	qznanto · cuomitz </p>
</div>

<div class='transcription'>
<h3>Standarized transcription</h3>

  <p>01	Sesenta pesos por quitar dudas, si trajere dichos recaudos por donde conste ser suyo, que se otorgue escritura, y </p>
  <p>02	se los den: y de no constar el claramente que es dueño de dicha tierra, que le vuelvan estos papeles. asiéntolo aquí</p>
  <p>03	y pongo esta razón, por si me muriese, y lo firmo de mi nombre</p>
  <p>04	Este título le entregué a Mathias Camargo hijo, y albacea del dicho 	Diego Pelaes</p>
  <p>05	Diego Muños de Jaso y Camargo hoy catorce del mes de junio de mil seis cientos y noventa y cuatro</p>
  <p>06	años —---------------------------------- Diego Pelaes</p>


  <p>07	cohuatenpaco</p>
  <p>08	intepaco · matlacxochitl</p>
  <p>09	yatoyatl</p>
  <p>10	intepaco · pablo · xochimilcatzin</p>
  <p>11	xx · xx · maitl</p>
  <p>12	in nic izyac · cccc · cccc</p>

  <p>13	Esta es la tierra que vendió don Juan Marmolejo</p>
  <p>14	a Miguel García indio en el pago de San(ta Ce)ci </p>
  <p>15	lia Cocamala</p>

  <p>16	in nimixpantasticos</p>
  <p>17	me _______________</p>
  <p>18	n	lozecan yactzin_______</p>
  <p>19	n	melchiyotl · tencuitlaonlolo</p>
  <p>20	n	lozczo · macuilqu[...]uh</p>
  <p>21	n	qznanto · cuomitz </p>


</div>
<div class='transcription'>
<h3>Translation</h3>

  <p>07	compra una cerca</p>
  <p>08	la cerca de diez flores</p>
  <p>09	su río</p>
  <p>10	la cerca de · pablo · xochimilca </p>
  <p>11	xx · xx · brazos</p>
  <p>12	“de largo” · cccc · cccc</p>

  <p>13	Esta es la tierra que vendió don Juan Marmolejo</p>
  <p>14	a Miguel García indio en el pago de San(ta Ce)ci </p>
  <p>15	lia Cocamala</p>

  <p>16	ante ustedes</p>
  <p>17	me _______________</p>
  <p>18	n	lozecan “punta”_______</p>
  <p>19	n	Melchor es quien convoca </p>
  <p>20	n	lozczo · cinco</p>
  <p>21	n	qznanto · cuomitz </p>

</div>
