{% comment %}Calculate next and previous{% endcomment %}

{% assign index = 0 %}

{% for item in site.decipherments %}
    {% if item.url == page.url %}
        {% assign index = forloop.index %}
    {% endif %}
{% endfor %}

{% for item in site.decipherments %}
    {% assign index_prev = index | minus: 1 %}
    {% assign index_next = index | plus: 1 %}
    {% if forloop.index == index_prev %}
        {% assign prev = item %}
    {% endif %}
    {% if forloop.index == index_next and page.url != page.dir %}
        {% assign next = item %}
    {% endif %}
{% endfor %}

  <div class="container-fluid">


<div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
      		 <div id="nextprev" style="margin-top:0em;display:flex;flex-direction:row;justify-content:space-between;">
		  <a href="{{site.baseurl}}{{ prev.url }}" class="next btn btn-primary">Previous</a>
		  <a href="{{site.baseurl}}{{ next.url }}" class="prev btn btn-primary">Next</a>
		 </div>
		  
      </div>
</div> <!-- /.row -->  

  
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">

		  <h2 style="margin:1em 0">{{page.title}}</h2>
		  
		  
      </div>
    </div> <!-- /.row -->
    
 

     <div class="row">
	      
		<div class="col-md-4">
			<div id="viewer" style="position:relative;height:{{include.viewerheight}};width:100%;"></div>
		</div>
		
		<div class="col-md-8">
	
		   <div id="annotations">
		      {% for anno in page.annotations %}
		        <div class="annotation">{% include_relative annotations/{{page.identifier}}-{{page.canvas}}-{{anno}} %}</div>
		      {% endfor %}
		   </div>
	       </div>

	    </div> <!-- /.row -->
	   
	  

<div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
      		 <div id="nextprev" style="margin-top:1em;display:flex;flex-direction:row;justify-content:space-between;">
		  <a href="{{site.baseurl}}{{ prev.url }}" class="next btn btn-primary">Previous</a>
		  <a href="{{site.baseurl}}{{ next.url }}" class="prev btn btn-primary">Next</a>
		 </div>
		  
      </div>
</div> <!-- /.row -->    

</div>

     
