
  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{site.baseurl}}/es/index.html">La traducción de Mesoamérica</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/es/index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/es/map.html">Mapa</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/es/alphabet.html">Alfabeto</a>
        </li>                
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/es/about.html">Acerca de este sitio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/index.html" style="display: inline;padding-right: 0px;">Inglés</a> | <a class="nav-link" href="{{site.baseurl}}/es/index.html" style="display: inline;padding-left: 0px;">Español</a>
        </li>        
      </ul>
    </div>
  </div>
</nav>


      
  <!-- Page Header  62 42 42 or  92, 77, 66 or 100, 0, 7-->

<!--
<header class="masthead narrow" style="padding: 50px 0 0px 0;background: linear-gradient(to bottom, rgba(23, 20, 20, 0.8) 0%, rgba(23, 20, 20, 0.5) 100%), url({{site.baseurl}}/assets/images/bg-masthead.jpg);">-->

<header class="masthead narrow" style="padding: 50px 0 0px 0;background:linear-gradient(to top, rgba(123, 120, 120, 0.8) 0%, rgba(10, 10, 10, 0.5) 100%), url({{site.baseurl}}/assets/images/banner4.jpg);background-size:cover;">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 class="site-title"><a href="{{site.baseurl}}/es/index.html">La traducción de Mesoamérica</a></h1>
            
            <span class="subheading">Transcripciones y traducciones de la colección de manuscritos mesoamericanos<br />de la Biblioteca de la Universidad de Princeton
</span>
            
          </div>
        </div>
      </div>
    </div>
</header>







