

a:hover { color: darksalmon; }

.site-title a { color:white;text-decoration:none; }


.container-fluid { padding-left:35px !important;padding-right:35px !important; }

h1 {font-family: 'DM Sans', sans-serif;}
h1 a, h1 a:hover { text-decoration:none; color:white;}

.blurb {
  font-size:0.8em;
  background: #eeebe3;
  padding: 1em;
  margin: 2em 1em 0em 1em;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.blurb h3 { margin-bottom:0.3em; }
.blurb p { margin:0.3em 0; }

.nahautl-page { display:block; width:100%; border:solid 1px grey;margin:0.5em 0 }

.tab-pane { 
 font-size:0.8em;
}


.icon-bar { float:right;margin:1.5em 0; display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:right;gap:0.8em; }

.icon-lg {
  height:32px;
}


.section-title {
 background:darksalmon;
 padding:0.3em;
 color:#333;
 border-radius:3px;
 border-bottom:solid 0px black;
 border-right:solid 6px black;
 margin-bottom:1em;
 box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.2);
}

.metadata { font-size:0.8em; }
.metadata p { margin:0px; }
.metadata label { margin-right:0.6em;font-weight:bold; }


.dropcap {
  color: #000;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 25px;
  padding-left: 3px;
}



h1 {font-family: 'DM Sans', sans-serif;}

.jumbotron {
 background-image:url(../images/banner-white.jpg);
 background-position:center;
 background-size:cover;

}

.btn-nahuatl {
color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0.2em 0.5em;
  text-decoration: none;
}

#alphabet-list { 
 display:flex;
 flex-wrap:wrap;
 }
.alphabet-item {
  width:33%;
}

#decipherment-list { margin:0px; padding:0px; display:flex; flex-direction:row; flex-wrap:wrap;}
.decipherment { 
  background-position:center;
  background-size:cover;
  padding: 0.5em;
  border:solid 1px grey;
  width: 32%;
  height: 220px;
  margin:3px;
}

.footnotes {
  background: #eeebe3;
  padding: 1em;
  border-radius: 6px;
}
.footnotes p { margin:0px; }

#annotations { display:flex;flex-wrap:wrap; }
.annotation { 
  border:solid 1px #EEE;
  box-shadow: 0px 0px 10px #BBB;
  border-radius:10px;
  margin: 10px;
  padding: 10px;
  width: 48%;
  min-width: 200px;
  white-space: pre-wrap;
  font-size: 0.85em;
  }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  margin-top:1em;
}

.gallery-item {
  width: 31%;
  margin-bottom:0.5%;
  border-radius:10px;
  padding: 0.5em;
}

.gallery-item h3  {
  margin-top:1em;
}
.gallery-item p {margin:0px; }

.gallery-item:hover {
   box-shadow: 0px 0px 10px #BBB;
   text-decoration:none;
}

.gallery-item-img { 
 height:200px;
 width:100%;
 min-width:200px;
 background-position:center;
 background-size:cover;
 border-radius:10px;
 margin-right:15px; }
.gallery-item-content { width:100%; }

.gallery-item-descr { font-size:0.8em; text-decoration:none; }

#viewer {
  width: 100%;
  height: 800px;
  background:#EEE;
}

#tab_content { margin-top: 1.6em; }
#tab_content label {
  font-weight:bold;
  display:inline-block;
}
#tab_content p {
  margin-bottom:0px;
}
