<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  
  {%- include header.html -%}
  
  <div class="container-fluid">


    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
	 <h2 style="margin:0 0 1em 0">{{page.title}}</h2>
      </div>
    </div> <!-- /.row -->
 
     <div class="row"> 
      <div class='col-md-4'>
	 MIRADOR
      </div>
      <div class='col-md-8'>
	 {{ content | decipherment }}
      </div>        
        
     </div> <!-- /.row -->
   </div>

    {%- include footer.html -%}
  
 

     

  </body>

</html>
