<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  
    {% assign header_file = "header-"  | append: page.lang | append: ".html" %}
    {% if  header_file == 'header-' %}{% assign header_file = "header-es" %}{% endif %}
    
    {%- include {{header_file}} -%}
  
    {% for manifest in site.data.manifests %}
      {% if manifest.identifier == page.identifier %}
        {% assign m = manifest %}
      {% endif %}
    {% endfor %}
   
<div class="container">
  
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">

		  <h2 style="margin:0 0 1em 0">{{m.title}}</h2>
		  
      </div>
    </div> <!-- /.row -->
    

     <div class="row">
	      
		<div class="col-md-8">
			<div id="mirador2" style="position:relative;width:100%;height:600px;"></div>
		</div>
		
		<div class="metadata col-md-4">

				  <h2 class="btn btn-primary">Metadata</h2>
				  <p><label for="doc_title">Title:</label> <span id="doc_title">{{m.title}}</span></p>
				  <p><label for="doc_description">Description:</label> <span id="doc_description">{{m.description}}</span></p>
				  <p><label for="doc_source">Source:</label> <span id="doc_source"><a href="{{m.source}}" target="_blank">{{m.attribution}}</a></span></p>

	       </div>
      </div> <!-- /.row -->	
      
      

    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
      
				  <div class="icon-bar">
				  <!--<a href="#"><img src="{{site.baseurl}}/assets/images/filetype-pdf.svg" class='icon-lg'/></a>-->
				  
				  <a href="{{m.source}}" target="_blank" title="Princeton University Library"><img src="{{site.baseurl}}/assets/images/pul_black-icon-only.svg" class='icon-lg' alt='link to Princeton University Library'/></a>
				  <a href="{{m.manifest}}" target="_blank" title="IIIF manifest"><img src="{{site.baseurl}}/assets/images/iiif.svg" class='icon-lg' alt='link to IIIF manifest'/></a>
				  </div>      

		  {{ content }}
		  
      </div>
    </div> <!-- /.row -->          

</div>


<div class="container" style="margin-top:3em;">

{% assign pagelist = "" | split: ',' %}

{% for x in site.annotations %}
{% assign identifier = x.ident %}
{% assign pagenumber = x.pagenum %}
{% if identifier == page.identifier %}
  {% assign pn = pagenumber | plus:"" %}
  {% assign pagelist = pagelist | push: pn  %}
{% endif %}
{% endfor %}

{% assign pagelist = pagelist | uniq | sort %}


{% for p in pagelist %}

  	  <div class="row">
      	     <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:1.5em;margin-bottom:0em;">
               <h3>Page {{ p }}</h3>	

  	    </div>
	 </div> <!-- /.row -->  


  	  <div class="row">
  	  
  	  
      	     <div class="col-lg-6 col-md-6 mx-auto">
      	        <div id="osd-viewer-page-{{p}}" data-pagenum="{{ p }}" class="osd" style="width:100%; height:500px;background:#EEE;margin-top:0.5em;"></div>
      	     </div>
  	  
  	  
      	     <div class="col-lg-6 col-md-6 mx-auto" style="margin-top:0.5em;margin-bottom:0em;">
      	     
 	{% assign annotations = "" | split: ',' %}
	{% for e in site.annotations %}
	  {% if e.pagenum == p and page.identifier == e.ident %}{% assign annotations = annotations | push: e %}{% endif %} 
	{% endfor %}



<ul class="nav nav-tabs" id="myTab{{d}}" role="tablist">  	     
{% for f in annotations %}
{% assign slug = f.title | downcase | replace: " ", "-" %}
{% if forloop.index0 == 0 %}
   <li class="nav-item" role="presentation">
    <button class="nav-link active" id="{{slug}}-{{p}}-tab" data-bs-toggle="tab" data-bs-target="#{{slug}}-{{p}}" type="button" role="tab" aria-controls="{{slug}}" aria-selected="true">{{f.title}}</button>
   </li>
{% else %}
   <li class="nav-item" role="presentation">
    <button class="nav-link" id="{{slug}}-{{p}}-tab" data-bs-toggle="tab" data-bs-target="#{{slug}}-{{p}}" type="button" role="tab" aria-controls="{{slug}}" aria-selected="false">{{f.title}}</button>
   </li>
{% endif %}
{% endfor %}
</ul> 


<div class="tab-content" id="myTabContent{{d}}">
{% for f in annotations %}
{% assign slug = f.title | downcase | replace: " ", "-" %}
{% if forloop.index0 == 0 %}
   <div class="tab-pane show active fade" id="{{slug}}-{{p}}" role="tabpanel" aria-labelledby="{{slug}}-tab" style="margin-top:1em;">{{f.content}}</div>
{% else %}
   <div class="tab-pane fade" id="{{slug}}-{{p}}" role="tabpanel" aria-labelledby="{{slug}}-tab">{{f.content}}</div>
{% endif %}
  
{% endfor %}		
</div>



  	    </div>
	 </div> <!-- /.row --> 
{% endfor %}

</div> <!-- /.container -->	 


    {%- include footer.html -%}
    
    
<script>
  
/************************************
* 
*********************************/
jQuery(document).ready(function(){
      
        var tilesources = [];
    
	function parse(manifest) {
		const vault = new IIIFVault.Vault();
		vault.loadManifest(manifest).then(async (m) => {
		    m.items.forEach(function(item,i) {
			var x = vault.get(item);
			var x1 = vault.get(x.items[0]);
			var x2 = vault.get(x1.items[0]);
			var x3 = vault.get(x2.body[0]);
			if(typeof x3.service[0]['@id'] !== undefined) { var service = x3.service[0]['@id']; }
			else { var service = x3.service[0]['id']; } 
			service = service.replace(' ', '%20');
			tilesources.push(service + "/info.json");
           
		    }); /* end fetch */

		}).then(data => {	
			var osdviewers = jQuery(".osd");
			jQuery.each(osdviewers, function(i,v){
			  var id = jQuery(v).attr('id');
			  var p  = parseInt(jQuery(v).attr('data-pagenum')) - 1;
			  OSD(id, p);
			
			});
		});	
	}


      parse("{{m.manifest}}");  

      /************************************
      * 
      *********************************/
      function OSD(id, index) {
           console.log(tilesources);
           console.log(id, tilesources[index]);
	    viewer = OpenSeadragon({
	        id: id,
	        showNavigator: false,
	        showRotationControl: true,
	        prefixUrl: '/translating-mesoamerica/assets/openseadragon/images/',
	        tileSources: [tilesources[index]]
	    });      
      }     
    
    
      Mirador.viewer({
	id: "mirador2",
	windows: [{ manifestId: '{{m.manifest}}'}],
	workspace: { showZoomControls: true },
	workspaceControlPanel: { enabled: false  }
      }); 
        
        
        
        
});
    
    
   
    </script>
  </body>

</html>
